.App-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: rgb(37, 37, 37);
}

table {
  width:100%;
}

table, th, td {
  border: 1px solid rgb(156, 155, 155);
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

/* tr:nth-child(even) {
  background: #eee;
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
}

tr:nth-child(odd) {
 background-color: rgb(49, 49, 49);
} */

tr {
  /* background: linear-gradient(90deg, rgba(53, 21, 21, 0.3), rgba(0, 0, 200, 0)); */
  background-color:rgba(24, 21, 53, 0.4);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
}

th {
  background-color: rgba(21, 53, 21, 0.3);
  color: rgb(51, 50, 50);
}
