.App-logo {
  height: 6vmin;
  pointer-events: none;
  padding: 0.2%;
}

.App-logo-text {
  /* height: 15vmin; */
  width: 200px; /* width of container */
  height: 90px; /* height of container */
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #1d2025;
  color: white;
}

.App-body{
  background-color: #14534e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  width:70%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(17, 17, 17);
}

tr:nth-child(odd) {
 background-color: rgb(22, 22, 22);
}

th {
  background-color: rgb(20, 17, 17);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
